<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ model }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='playground.css') }}">
</head>

<body>
    <div class="pg">
        <div class="pg-header">
            <h4 class="pg-title">{{ model }}</h4>
        </div>
        <div class="pg-body">
            <div class="pg-left">
                <div class="pg-inputs">
                    <textarea class="pg-prompt" placeholder="Enter prompt here"></textarea>
                </div>
                <div class="pg-actions">
                    <button class="pg-button pg-submit" input="이 문서를 요약 해봐.">Submit</button>
                    <button class="pg-button pg-clear-prompt">Clear prompt</button>
                    <button class="pg-button pg-clear-completions">Clear completions</button>

                    <button class="pg-button pg-add-input" input="이 문서를 요약 해봐.">요약</button>
                    <button class="pg-button pg-add-input" input="이 문서를 분류 하면 결과가 뭐야?">분류</button>
                    <button class="pg-button pg-add-input" input="고객의 이름이 뭐야?">고객명</button>
                    <button class="pg-button pg-add-input" input="상담사 이름이 뭐야?">상담사명</button>
                    <button class="pg-button pg-add-input" input="날짜가 몇일이야?">날짜</button>
                    <button class="pg-button pg-add-input" input="전화번호가 몇번이야?">전화번호</button>
                    <button class="pg-button pg-add-input" input="고객의 통화목적이 뭐야?">통화목적</button>
                    <button class="pg-button pg-add-input" input="고객 질문의 의도가 뭐야?">고객의 의도</button>
                    <button class="pg-button pg-add-input" input="이 문서에 대한 제목을 달아봐">제목생성</button>
                    <button class="pg-button pg-add-input" input="이 대화를 보고 어떤 인사이트를 얻을수 있을까요?">인사이트분석</button>
                    <button class="pg-button pg-add-input" input="상담사의 대화에 문제는 없었어?">상담사평가</button>
                    <button class="pg-button pg-add-input" input="상담사가 능숙하게 응대했는지 평가를 하고, 10점 만점의 점수를 부여 해보세요.">점수부여</button>
                    <button class="pg-button pg-add-input" input="'지점명(IBK기업은행)' 이 뭔지 정확하게 찾아봐.">객체-지점</button>
                    <button class="pg-button pg-add-input" input="'통지수단' 이 뭔지 정확하게 찾아봐.">객체-통지수단</button>
                    <button class="pg-button pg-add-input" input="'서류명' 이 뭔지 정확하게 찾아봐.">객체-서류명</button>


                </div>
                <div class="pg-outputs"></div>
            </div>
            <div class="pg-right">
                <div class="pg-options"></div>
                <div class="pg-inspector"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='playground.js') }}"></script>
</body>

</html>
